@media screen and (max-width: 767px) {
  main .contato-info {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(100% - 1.5rem);
    display: block; } }
@media screen and (min-width: 768px) {
  main .contato-info {
    display: none; } }
@media screen and (min-width: 992px) {
  main .contato-info {
    display: none; } }
@media screen and (min-width: 1200px) {
  main .contato-info {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(16.66667% - 1.5rem);
    display: block; } }
@media screen and (max-width: 767px) {
  main .mensagem {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(100% - 1.5rem);
    display: block; } }
@media screen and (min-width: 768px) {
  main .mensagem {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(66.66667% - 1.5rem);
    display: block; } }
@media screen and (min-width: 992px) {
  main .mensagem {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(66.66667% - 1.5rem);
    display: block; } }
@media screen and (min-width: 1200px) {
  main .mensagem {
    margin-left: calc(8.33333% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(50.0% - 1.5rem);
    display: block; } }
@media screen and (max-width: 767px) {
  main .newsletter {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(100% - 1.5rem);
    display: block; } }
@media screen and (min-width: 768px) {
  main .newsletter {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(33.33333% - 1.5rem);
    display: block; } }
@media screen and (min-width: 992px) {
  main .newsletter {
    margin-left: calc(8.33333% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(25.0% - 1.5rem);
    display: block; } }
@media screen and (min-width: 1200px) {
  main .newsletter {
    margin-left: calc(8.33333% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(16.66667% - 1.5rem);
    display: block; } }
@media screen and (max-width: 767px) {
  main .newsletter address {
    display: none; } }
@media screen and (min-width: 1200px) {
  main .newsletter address {
    display: none; } }
@media screen and (max-width: 1199px) {
  main .newsletter h4 {
    border-top: dotted #d8d8d8 1px;
    padding-top: calc(1.5rem - 1px); } }
