---
---

@import
	"variaveis-responsividade",
	"variaveis-cor",
    "mixins-diagrama",
    "normalize",
    "metrica-horizontal",
    "metrica-vertical",
    "camadas",
    "tipografia"
;

.fixed {
	overflow: hidden;
}

body {

	position: absolute;
	min-height: 100%;
	background-color: $branco;

	main {
		transform: translateY( -$footer-height );
		@include h-align-center;
		
		section {
			position: relative;
		}

		article {
			position: relative;
			width: 100%;
		}
		
		.destaque {
			padding-left: $gutter;
			border-left: solid $cinza-claro 1px;
		}
		
		a {
			&:hover {
				color: $laranja;
			}
		}
		
		p > a {
			@include italic;
			&:hover{
				color: $laranja;
			}
		}
		
		blockquote {
			* {
				@include italic;
				@extend .destaque;
			}
		}

		figure {
			@media screen and (min-width: nth($breakpoints, 2)) {
				margin-bottom: 4*$leading;
			}
			@media screen and (min-width: nth($breakpoints, 3)) {
				margin-bottom: 5*$leading;
			}
		}

		img {
			height: auto;
		}

		hr {
			border-top: dotted $cinza-claro 1px;
			height: $leading;
		}

		ul {
			padding-left: $gutter/2;
			li::before{
				content: "›";
				position: absolute;
				left: 0;
				color: $cinza-escuro;
			}
		}

		form {
			p {
				padding-top: 0;
		    	padding-bottom: 0;
			}
			* {
				display: block;
				outline: 0;
				margin-bottom: $leading;
				-webkit-transition: all .1s ease-in-out;
				-moz-transition:  all .1s ease-in-out;
				-o-transition:  all .1s ease-in-out;
				transition:  all .05s ease-in-out;
				padding-top: $leading/2;
		    	padding-bottom: $leading/2;
			}
			input[type*="submit"] {
			    background-color: $cinza-medio;
			    color: $branco;
			    font-family: 'Lato';
			    font-size: 0.9rem;
			    text-decoration: none;
			    cursor: pointer;
			    border:none;
			    font-weight: 300;
			    &:hover {
				    background-color: $laranja;
				}
				&:focus {
				    background-color: $laranja;
				}
			}
			> textarea, > input[type*="text"], > input[type*="email"] {
			    background-color: $branco;
			    text-decoration: none;
			    cursor: pointer;
			    line-height: $leading;
			    resize: none;
				padding-left: $gutter/2;
				border: solid $cinza-claro 1px;
				padding-top: calc(#{$leading/2} - 1px);
			    padding-bottom: calc(#{$leading/2} - 1px);
			    &:focus {
			    	border: solid $laranja 1px;
				    padding-left: 3/4*$gutter;
				}
			}
			::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
		    	@include italic;
			}
		}

		.minhoca {
			width: 2*$gutter;
			position: absolute;
			right: -1.5*$gutter;
			top: 3*$leading;
		}

		#minhoca {
			fill: $laranja;
		}

		@import "componentes";
	}
}

@import "header";

@import "footer";

#easter-egg_gif {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparentize($branco, 0.05);
	z-index: -1;
	opacity: 0;
	transition: opacity .1s ease-in-out, z-index 0s ease-in-out .1s;
	padding: 6*$gutter 2*$gutter 4*$gutter;
	img {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		width: auto;
		margin: auto;
		display: none;
	}
	&.active {
		transition: opacity .1s ease-in-out, z-index 0s ease-in-out;
		z-index: 2;
		opacity: 1;
		img {
			display: block
		}
	}
}