---
---

@import
	"color",
	"responsive-parameters",
	"flex-mixins"
;

.wrapper {
	position: static;
}

.local-wrapper {
	position: relative;
	width: calc(83.333% + #{$gutter});
	margin-left: auto;
	margin-right: auto;
}

.home {
	height: 100vh;
	overflow: hidden;

		.lago {
			position: absolute;
			width: 100vw;
			margin-top: 50vh;
			left:0;
			height: 50vh;
			background-color: $areia;
		}

		.menino {	
			position: absolute;
			height: auto;
			top: 50vh;
			left: 50%;
			transform: translate(calc(-50% - #{$leading/2}), -50%);
		}

	.conteudo-container {
		@media screen and (min-width: nth($breakpoints, 1)) {
			@include display-flex;
			@include flex-wrap (wrap);
			@include align-items (center);
			height: 100vh;

			.conteudo {
				width: 100%;
				@include display-flex;
				@include flex-wrap (wrap);
				@include align-items (flex-end);
				@include align-content (center);
				transform: translateY(calc(50% + #{2*$leading}));
			}
		}
	}

		.assinatura {
			position: relative;
			height: auto;
			@media screen and (max-width: nth($breakpoints, 1) - 1px) {
				position: absolute;
				z-index: -1;
				top: 20%;
				left: 50%;
				height: auto;
				transform: translate(-50%, -50%);
				margin: auto;
			}
		}

		.tipo {
			position: relative;
			@media screen and (max-width: nth($breakpoints, 1) - 1px) {
				position: absolute;
				top: 75%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: auto;
				margin: auto;
				text-align: center;
			}
		}

			p {
				margin-top: $leading;
				margin-bottom: $leading;
				font-style: italic;
				color: $marrom;
				@media screen and (min-width: nth($breakpoints, 2)) {
					font-size: 1.8rem;
					line-height: 1.5 *$leading;
				}
			}

			a {
				display: inline-block;
				width: 1.2rem;
				&:first-child {
					margin-right: $leading/2;
				}
                &:hover {
					opacity: 0.9;
				}
                &:active {
                    transform: translateY(1px);
				}
			}

			.facebook {
				fill: $marrom;
			}

			.instagram {
				fill: $marrom;
			}
}
