---
---

@import
	"variaveis-responsividade",
	"variaveis-cor",
	"mixins-tipografia",
    "mixins-diagrama"
;

body {
	main {
		padding-top: 0;
		transform: translateY(0);
		section {
			width: 100%;
		}
	}
	footer {
		position: relative;
	}
}

#home-cover {
	background-image: url(/img/home.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	margin-top: 0;
}