---
---

@import
	"layout-system-variables",
    "normalize",
    "layout-system-grid"
;

header {
	position: fixed;
	flex-wrap: wrap;
	top: 0;
	width: 100%;
	padding-left: calc(#{(100% - $area)/2} - #{$gutter/2});
	padding-right: calc(#{(100% - $area)/2} - #{$gutter/2});
	//revisar
	background-color: white;
	transition: background-color 0.2s ease;
	box-shadow: 0 5px 30px rgba(0,0,0,0.02), 0 5px 20px rgba(0,0,0,0.04);

	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		>* {
			margin-left: $gutter / 2;
			margin-right: $gutter / 2;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.logo {
			line-height: 0;
			svg {
				-webkit-transition-property: all;
				transition-property: all;
				-webkit-transition-duration: 0.5s;
				transition-duration: 0.5s;
				height: 20px;
				width: 84px;
				@media screen and (min-width: nth($breakpoints, 2)) {
					height: 30px;
					width: 126px;
				}
			}
		}
		#logo {
			fill: #9b9b9b;
			&:hover{
				fill: orange;
			}
		}
		.menu {
			box-sizing: border-box;
			background-color: transparent;
			display: flex;
			flex-wrap: nowrap;
			a {	
				//revisar
				font-family: 'Alegreya Sans SC';
				font-weight: 300;
				font-size: 1rem;
				text-transform: lowercase;
				color: #4a4a4a;
				//
				margin-left: $gutter;
				&:first-child {
					margin-left: 0;
				}
			}
			.current-page {
				font-weight: 700;
			}
			.link {
				&:hover {
					color: orange;
				}				
			}
		}
	}
}

main {
	width: 100%;
	min-height: 100vh;
	background-color: yellow;
	padding: 75px 0 0;
	&>img {
		margin-left: calc(#{$respiro} - #{$gutter/2})
	}
}