@media screen and (max-width: 767px) {
  main .sobre-intro figure {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(100% - 1.5rem);
    display: block; } }
@media screen and (min-width: 768px) {
  main .sobre-intro figure {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(50.0% - 1.5rem);
    display: block; } }
@media screen and (min-width: 992px) {
  main .sobre-intro figure {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(58.33333% - 1.5rem);
    display: block; } }
@media screen and (min-width: 1200px) {
  main .sobre-intro figure {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(50.0% - 1.5rem);
    display: block; } }
@media screen and (max-width: 767px) {
  main .sobre-intro article {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(100% - 1.5rem);
    display: block; } }
@media screen and (min-width: 768px) {
  main .sobre-intro article {
    margin-left: calc(0% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(50.0% - 1.5rem);
    display: block; } }
@media screen and (min-width: 992px) {
  main .sobre-intro article {
    margin-left: calc(8.33333% + 0.75rem);
    margin-right: calc(0% + 0.75rem);
    width: calc(33.33333% - 1.5rem);
    display: block; } }
@media screen and (min-width: 1200px) {
  main .sobre-intro article {
    margin-left: calc(8.33333% + 0.75rem);
    margin-right: calc(8.33333% + 0.75rem);
    width: calc(33.33333% - 1.5rem);
    display: block; } }
