---
layout: default
baseurl: ""
published: true
---


<div class="home">
	
	<div class="lago"></div>
	<div class="local-wrapper">
  		<img class="col_1_2_2_3 menino" src="img/menino.png">
  	</div>
	
  	<div class="conteudo-container">

		<div class="conteudo">
			<div class="col_0_5_5_10"></div>
			<img class="col_1_1_1_1 assinatura" src="img/assinatura.png">

			<div class="col_0_5_5_10"></div>
			<div class="col_2_1_1_2 tipo">
				<p>Em breve novidades!</p>
				<div class="links">
					<a href="https://www.facebook.com/pomb.thales" target="_blank">
						{% include facebook.html %}
					</a>
					<a href="https://www.instagram.com/pomb_/" target="_blank">
						{% include instagram.html %}
					</a>
				</div>
			</div>
		</div>

	</div>

</div>
