{% if page.layout == 'project' %}<header class="on-cover">{% else %}<header>{% endif %}
	<nav>
		<a href="{{ site.baseurl }}/" class="logo large">
			<img src="{{ site.baseurl }}/img/logo.png">
		</a>
		<div class="menu">
			{% for main-page in site.main-pages %}
				<a
				{% if page.url contains main-page.url %}
				 class="current-page
					{% if page.url != main-page.url %}
						 link
					{% endif %}
						"
					{% if page.url != main-page.url %}
						href="{{ site.baseurl }}{{ main-page.url}}"
					{% endif %}
				{% else %}
					 class="link" href="{{ site.baseurl }}{{ main-page.url }}"
				{% endif %}>
					<span>
						{{ main-page.title | upcase }}
					</span>
				</a>
			{% endfor %}
		</div>
	</nav>
</header>
{% if page.layout == 'project' %}<script type="text/javascript" src="{{ site.baseurl }}/scripts/header-project.js"></script>{% endif %}
{% if page.permalink == '/' or page.permalink == 'about/'%}<script type="text/javascript" src="{{ site.baseurl }}/scripts/header-shrink.js"></script>{% endif %}