<div class="grid">
	<div class="area">

		<div class="module s1_1 s2_1 s3_1 s4_1"></div>
		<div class="module s1_1 s2_1 s3_1 s4_1"></div>

		<div class="module s1_0 s2_1 s3_1 s4_1"></div>
		<div class="module s1_0 s2_1 s3_1 s4_1"></div>
		<div class="module s1_0 s2_1 s3_1 s4_1"></div>
		<div class="module s1_0 s2_1 s3_1 s4_1"></div>

		<div class="module s1_0 s2_0 s3_0 s4_1"></div>
		<div class="module s1_0 s2_0 s3_0 s4_1"></div>
		<div class="module s1_0 s2_0 s3_0 s4_1"></div>
		<div class="module s1_0 s2_0 s3_0 s4_1"></div>
		<div class="module s1_0 s2_0 s3_0 s4_1"></div>
		<div class="module s1_0 s2_0 s3_0 s4_1"></div>

	</div>
</div>