<section id="grid">
	<article class="s1_1 s2_1 s3_1 s4_1 grid-column"></article>
	<article class="s1_1 s2_1 s3_1 s4_1 grid-column"></article>

	<article class="s1_0 s2_1 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_1 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_1 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_1 s3_1 s4_1 grid-column"></article>

	<article class="s1_0 s2_0 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_0 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_0 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_0 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_0 s3_1 s4_1 grid-column"></article>
	<article class="s1_0 s2_0 s3_1 s4_1 grid-column"></article>
</section>