<header>
	<nav>
		<a href="{{ site.baseurl }}/" class="logo">
			{% include logo.html %}
		</a>
		<div id="menu-desktop">
			{% for pagina in site.paginas %}
				<a
				{% if page.url contains pagina.url %}
				 class="current-page
					{% if page.url != pagina.url %}
						 link
					{% endif %}
						"
					{% if page.url != pagina.url %}
						href="{{ site.baseurl }}{{pagina.url}}"
					{% endif %}
				{% else %}
					 class="link" href="{{ site.baseurl }}{{ pagina.url }}"
				{% endif %}>
					<span>
						{{ pagina.title | upcase }} 
					</span>
				</a>
			{% endfor %}
			<a>
				<span>
					loja
				</span>
			</a>
		</div>
	</nav>
</header>
<nav id="menu-mobile">
	<ul>
	{% for pagina in site.paginas %}
		<li>
			<a
			{% if page.url contains pagina.url %}
			 class="current-page
				{% if page.url != pagina.url %}
					 link
				{% endif %}
					"
				{% if page.url != pagina.url %}
					href="{{ site.baseurl }}{{pagina.url}}"
				{% endif %}
			{% else %}
				 class="link" href="{{ site.baseurl }}{{ pagina.url }}"
			{% endif %}>
				<span>
					{{ pagina.title | downcase }} 
				</span>
			</a>
		</li>
	{% endfor %}
		<li><a><span>loja</span></a></li>
	</ul>
</nav>
<div id="nav-icon">
	<span></span>
	<span></span>
	<span></span>
</div>