<header>
	<nav>
		<a href="{{ site.baseurl }}/" class="logo">
			<svg id="logo" width="126" height="30" viewBox="0 0 189 30">
				 <path d="M 1.5, 28.112 V 1.697 c 16.664 -0.912, 25.276, 1.236, 25.276, 8.738 c 0, 6.639 -7.783, 9.805 -25.276, 7.421" id= "p" class="letra-logo"></path>

			    <path d="M 58.468, 14.997 c 0, 7.74 -5.872, 13.497 -13.115, 13.497 c -7.62, 0 -13.115     -6.043 -13.115 -13.497 c 0 -8.306, 5.287 -13.497, 13.115 -13.497 C 52.596, 1.5, 58.468, 7.163, 58.468, 14.997 z" id= "o" class="letra-logo"></path>

			    <ellipse cx="45.353" cy="14.997" rx="3" ry="3" id="ponto" class="ponto-logo"></ellipse>

			    <path d="M 94.003, 28.112 V 1.697 C 83.207, 1.697 76.593, 8.364 76.593, 12.295 c 0, 1.991,     1.226, 3.47, 3.288, 3.47 c 1.618, 0, 2.924 -1.562, 2.924 -3.47 c 0 -4.112 -8.27 -10.598 -17.047 -10.598 v 26.415" id= "m" class="letra-logo"></path>

			    <path d="M 102.896, 1.956 v 26.156 c 11.92, 1.329, 21.604 -0.621, 21.604 -8.001 c 0 -6.608 -6.091 -8.446 -21.604 -8.063 c 10.321 -0.433, 13.607 -2.58, 13.607 -5.638 C 116.503, 1.631, 109.81, 0.834, 102.896, 1.956 z" id= "b" class="letra-logo"></path>
			</svg>
		</a>
		<ul id="menu-desktop">
			{% for pagina in site.paginas %}
				<li>
					<a
					{% if page.url contains pagina.url %}
					 class="current-page
						{% if page.url != pagina.url %}
							 link
						{% endif %}
							"
						{% if page.url != pagina.url %}
							href="{{ site.baseurl }}{{pagina.url}}"
						{% endif %}
					{% else %}
						 class="link" href="{{ site.baseurl }}{{ pagina.url }}"
					{% endif %}>
						{{ pagina.title | upcase }} 
					</a>
				</li>
			{% endfor %}
			<li>
				<a>
					loja
				</a>
			</li>
			<li class="easter-egg">
				<svg id="easter-worm"></svg>
			</li>
		</ul>
		<button id="nav-icon">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</nav>
</header>

<nav id="menu-mobile-bg"></nav>
<nav id="menu-mobile">
	<ul>
	{% for pagina in site.paginas %}
		<li>
			<a
			{% if page.url contains pagina.url %}
			 class="current-page
				{% if page.url != pagina.url %}
					 link
				{% endif %}
					"
				{% if page.url != pagina.url %}
					href="{{ site.baseurl }}{{pagina.url}}"
				{% endif %}
			{% else %}
				 class="link" href="{{ site.baseurl }}{{ pagina.url }}"
			{% endif %}>
				{{ pagina.title | downcase }} 
			</a>
		</li>
	{% endfor %}
		<li><a>loja</a></li>
	</ul>
</nav>
<section id="easter-egg_gif">
	<img src="{{ site.baseurl }}/img/easter.gif">
</section>