<header>
	<nav>
		<a href="{{ site.baseurl }}/" class="logo">
			{% include logo.html %}
		</a>
		<ul id="menu-desktop">
			{% for pagina in site.paginas %}
				<li>
					<a
					{% if page.url contains pagina.url %}
					 class="current-page
						{% if page.url != pagina.url %}
							 link
						{% endif %}
							"
						{% if page.url != pagina.url %}
							href="{{ site.baseurl }}{{pagina.url}}"
						{% endif %}
					{% else %}
						 class="link" href="{{ site.baseurl }}{{ pagina.url }}"
					{% endif %}>
						{{ pagina.title | upcase }} 
					</a>
				</li>
			{% endfor %}
			<li><a class="link" href="http://pomb.shop/" target="blank">Store</a></li>
			<li class="easter-egg">
				<svg id="easter-worm"></svg>
			</li>
		</ul>
		<button id="nav-icon">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</nav>
</header>

<nav id="menu-mobile-bg"></nav>
<nav id="menu-mobile">
	<ul>
	{% for pagina in site.paginas %}
		<li>
			<a
			{% if page.url contains pagina.url %}
			 class="current-page
				{% if page.url != pagina.url %}
					 link
				{% endif %}
					"
				{% if page.url != pagina.url %}
					href="{{ site.baseurl }}{{pagina.url}}"
				{% endif %}
			{% else %}
				 class="link" href="{{ site.baseurl }}{{ pagina.url }}"
			{% endif %}>
				{{ pagina.title | downcase }} 
			</a>
		</li>
	{% endfor %}
		<li><a class="link" href="http://pomb.shop/" target="blank">Store</a></li>
	</ul>
</nav>
<section id="easter-egg_gif">
	<img src="{{ site.baseurl }}/img/easter.gif">
</section>
