<svg id="logo" viewBox="0 0 126 74">
	<g id="logo-wide">
		<path
			id="P-1"
		    d="M   1.5,       71.753
	           V   1.945
	           c   24.086     -1.28,     36.533     -0.207,     36.533,     8.688
	           c   0,         7.87       -11.853,   10.702      -36.533,    9.383
		       ">
		</path>
		<path
		    id="O-1"
		    d="M   48.23,     53.063
	           c   0,         11.145     -7.812,     19.437     -17.448,     19.437
	           c   -10.138,   0          -17.448     -8.702     -17.448      -19.437
	           c   0          -11.961,   7.034       -19.436,   17.448       -19.436
	           C   40.418,    33.627,    48.23,      41.782,    48.23,       53.063
	           z
		       ">
		</path>
		<ellipse
		    id="dot-1"
		    cx="30.782"
		    cy="53.064"
		    rx="4.079"
		    ry="4.02">
		</ellipse>
		<path
			id="M-1"
			d="M   88.269,     71.753
	           V   2.121
	           C   80.04,      5.408,     68.56,     18.757,     68.56,     30.627
	           c   0,          3.677,     1.707,     7.102,      5.292,     7.102
	           c   3.688,      0,         5.292      -3.204,     5.292      -6.881
	           c   0           -11.869    -12.296    -26.226     -19.527    -28.726
	           v   69.632
			    ">
		</path>
		<path
			id="B-1"
			d="	M   101.423,    1.5
	            v   70.676
	            c   11.538,     0,          23.077     -8.602,     23.077       -22.226
	            c   0           -14.111     -10.316    -20.909     -16.806      -21.692
	            c   5.234       -2.567,     8.366      -8.845,     8.366        -13.772
	            C   116.06,     9.56,       112.761,   1.5,        101.423,     1.5
	            z
		    	">
		</path>
	</g>
</svg>
