<svg id="logo" viewBox="0 0 126 30">
	<!-- <animate 
		attributeName="viewBox"
		attributeType="XML"
		to="0 0 126 74"
		begin="0s"
		dur="1s"
		fill="freeze"
	/> -->
	<g id="logo-wide">
		<path
			id="P-1"
		    d="M   1.5,     28.112
		       V   1.697
		       c   16.664   -0.912,     25.276,     1.236,     25.276,     8.738
		       c   0,       6.639       -7.783,     9.805      -25.276,    7.421
		       ">
	    	<!-- <animate 
	    		attributeName="d"
	    		attributeType="XML"
	    		to="M   1.5,       71.753
		            V   1.945
		            c   24.086     -1.28,     36.533     -0.207,     36.533,     8.688
		            c   0,         7.87       -11.853,   10.702      -36.533,    9.383"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/> -->
		</path>
		<path
		    id="O-1"
		    d="M   58.468,   14.997 
		    	c   0,        7.74       -5.872,     13.497     -13.115,    13.497
		        c   -7.62,    0          -13.115     -6.043     -13.115     -13.497
		        c   0         -8.306,    5.287       -13.497,   13.115      -13.497
		        C   52.596,   1.5,       58.468,     7.163,     58.468,     14.997
		        z
		        ">
		    <!-- <animate 
	    		attributeName="d"
	    		attributeType="XML"
	    		to="M   48.23,     53.063
		            c   0,         11.145     -7.812,     19.437     -17.448,     19.437
		            c   -10.138,   0          -17.448     -8.702     -17.448      -19.437
		            c   0          -11.961,   7.034       -19.436,   17.448       -19.436
		            C   40.418,    33.627,    48.23,      41.782,    48.23,       53.063
		            z"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/> -->
		</path>
		<ellipse
		    id="dot-1"
		    cx="45.353"
		    cy="14.997"
		    rx="3.599"
		    ry="3.651">
		    <!-- <animate 
	    		attributeName="cx"
	    		attributeType="XML"
	    		to="30.782"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/>
	    	<animate 
	    		attributeName="cy"
	    		attributeType="XML"
	    		to="53.064"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/>
	    	<animate 
	    		attributeName="rx"
	    		attributeType="XML"
	    		to="4.079"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/>
	    	<animate 
	    		attributeName="ry"
	    		attributeType="XML"
	    		to="4.02"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/> -->
		</ellipse>
		<path
			id="M-1"
			d="M   94.003,     28.112
			    V               1.697
			    C   83.207,    1.697          76.593,     8.364       76.593,     12.295
			    c   0,          1.991,     1.226,      3.47,       3.288,      3.47
			    c   1.618,      0,         2.924       -1.562,     2.924       -3.47
			    c   0           -4.112     -8.27       -10.598     -17.047     -10.598
			    v   26.415
			    ">
			<!-- <animate 
	    		attributeName="d"
	    		attributeType="XML"
	    		to="M   88.269,     71.753
		            V               2.121
		            C   80.04,      5.408,     68.56,     18.757,     68.56,     30.627
		            c   0,          3.677,     1.707,     7.102,      5.292,     7.102
		            c   3.688,      0,         5.292      -3.204,     5.292      -6.881
		            c   0           -11.869    -12.296    -26.226     -19.527    -28.726
		            v   69.632"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/> -->
		</path>
		<path
			id="B-1"
			d="	M   102.896,     1.956
		    	v   26.156
		    	c   11.92,       1.329,     21.604     -0.621,     21.604     -8.001
		    	c   0            -6.608     -6.091     -8.446      -21.604    -8.063
		    	c   10.321       -0.433,    13.607     -2.58,      13.607     -5.638
		    	C   116.503,     1.631,     109.81,    0.834,      102.896,   1.956
		    	z
		    	">
		   <!--  <animate 
	    		attributeName="d"
	    		attributeType="XML"
	    		to="M   101.423,    1.5
		            v   70.676
		            c   11.538,     0,          23.077     -8.602,     23.077       -22.226
		            c   0           -14.111     -10.316    -20.909     -16.806      -21.692
		            c   5.234       -2.567,     8.366      -8.845,     8.366        -13.772
		            C   116.06,     9.56,       112.761,   1.5,        101.423,     1.5
		            z"
	    		begin="0s"
	    		dur="1s"
	    		fill="freeze"
	    	/> -->
		</path>
	</g>
</svg>
