{% assign partes-permalink = page.permalink | split:'/' %}
{% assign colecao = partes-permalink[0] %}
{% capture parte-permalink-string %}/{{ partes-permalink[0] }}{% endcapture %}
{% assign tamanho-colecao = site.[colecao]%}
<section class="mais-projetos">
	<h2 class="titulo-secao-projeto">
	{% for pagina in site.paginas %}
		{% if pagina.url contains partes-permalink[0] %}
			Mais {{ pagina.title | downcase}}
		{% endif %}
	{% endfor %}
	</h2>
	{% for item in site.[colecao] %}
		{% unless item.url == page.url %}
			{% include projeto-thumb.html %}
		{% endunless %}
	{% endfor %}
</section>