@mixin display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-wrap ($valor) {
	-ms-flex-wrap: $valor;
	-webkit-flex-wrap: $valor;
    flex-wrap: $valor;
}

@mixin align-items ($valor) {
	-webkit-align-items: $valor;
    -ms-flex-align: $valor;
    align-items: $valor;
}

@mixin align-content ($valor) {
	-webkit-align-content: $valor;
	-ms-flex-line-pack: $valor;
	align-content: $valor;
}