@import 
	"variaveis-responsividade",
	"variaveis-cor"
;
body {
	footer {
		position: absolute;
		bottom: 0;
		left:0;
		background-color: $branco;
		z-index: 2;
		address {
			border-top: solid $cinza-claro 1px;
			padding-top: calc(#{2*$leading} - 1px);
			padding-bottom: 2 * $leading;
			text-align: center;
		}
	}
}