@import "responsive-variables";

footer {
	width: 100%;
	padding-left: calc(#{(100% - $area)/2} - #{$gutter/2});
	padding-right: calc(#{(100% - $area)/2} - #{$gutter/2});
	position: absolute;
	bottom: 0;
	height: 120px;
	background-color: white;
	box-shadow: 0 0 3*$leading 0 rgba(0,0,0,0.05);
	p {
		text-align: center;
		width: 100%;
	}
	.footnote {
		//revisar
		margin-top: 48px;
		margin-bottom: 48px;
		//
		//revisar (criar estilo e colocar em typography.sass?)
		color: #4a4a4a;
		//
	}
}