@import 
	"variaveis-responsividade",
	"variaveis-cor",
	"mixins-tipografia"
;

.soon {
	color: $cinza-claro;
}

header {
	z-index: 3;
	position: fixed;
	top: 0;
	background-color: transparentize($branco, 0.05);
	box-shadow: 0 0 $leading/2 0 transparentize($preto, 0.9);
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;


	nav {
		* {
			width: auto;
		}
		@include v-align-center;
		@include h-distribute-justify;
		#logo {
			.letra-logo {
                fill: none;
                stroke: $cinza-medio;
                stroke-width: 2.5;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;
            }
            .ponto-logo {
                fill: $cinza-medio;
                stroke: none;
            }
			&:hover {
				.letra-logo {
	                stroke: $laranja;
	            }
	            .ponto-logo {
	                fill: $laranja;
	            }
			}
		}
		#nav-icon {
			padding: 0;
			z-index: 5;
			width: 24px;
			$altura-hamb: 18px;
			height: $altura-hamb;
			position: relative;
			cursor: pointer;
			margin: 0;
			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: $cinza-medio;
				border-radius: 1px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out .1s;
				-moz-transition: .25s ease-in-out .1s;
				-o-transition: .25s ease-in-out .1s;
				transition: .25s ease-in-out .1s;
				&:nth-child(1) {
					top: 0px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				}
				&:nth-child(2) {
					top: 8px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				}
				&:nth-child(3) {
					top: 16px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				}
			}
			&.xis {
				span {
					&:nth-child(1) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
						top: -1px;
						left: 3px;
					}
					&:nth-child(2) {
						width: 0%;
						opacity: 0;
					}
					&:nth-child(3) {
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top: 16px;
						left: 3px;
					}
				}
			}
		}
	}
}

#menu-mobile {
	ul {
		@include margin-col-2(0, 6, 0);
	}
}



@media screen and (max-width: nth($breakpoints, 2) - 1px) {
	body {
		header {
			height: auto;
			padding-left: 0;
			padding-right: 0;
			nav {
				margin-left: 15px;
				margin-right: 15px;
				.logo {
					margin-top: $logo-m-margin;
					margin-bottom: $logo-m-margin;
					left: 2/3*$gutter;
					top: 0;
					svg {
						height: unset;
						width: unset;
						path {
							stroke-width: 3;
						}
					}
				}
				#menu-desktop {
					display: none;
					margin-top: 15px;
					margin-bottom: 15px;
				}
			}
		}
		#menu-mobile-bg {
			background-color: transparentize($branco, 1);
			z-index: -1;
			-webkit-transition: background-color .1s linear, z-index 0s linear .1s;
			-moz-transition: background-color .1s linear, z-index 0s linear .1s;
			-o-transition: background-color .1s linear, z-index 0s linear .1s;
			transition: background-color .1s linear, z-index 0s linear .1s;
			height: 100vh;
			width: 100vw;
			left: 0;
			top: 64px;
			@media screen and (min-width: nth($breakpoints, 2)) {
				top: 72px;
			}
			position: fixed;
			&.open {
				background-color: transparentize($branco, 0.05);
				-webkit-transition: background-color .1s linear, z-index 0s linear;
				-moz-transition: background-color .1s linear, z-index 0s linear;
				-o-transition: background-color .1s linear, z-index 0s linear;
				transition: background-color .1s linear, z-index 0s linear;
				z-index: 4;
			}
		}
		#menu-mobile {
			z-index: -1;
			height: 100vh;
			width: 100vw;
			left:0;
			top: 64px;
			@media screen and (min-width: nth($breakpoints, 2)) {
				top: 72px;
			}
			position: fixed;
			opacity: 0;
			-webkit-transition: opacity .1s linear, z-index 0s linear .1s;
			-moz-transition: opacity .1s linear, z-index 0s linear .1s;
			-o-transition: opacity .1s linear, z-index 0s linear .1s;
			transition: opacity .1s linear, z-index 0s linear .1s;
			.current-page {
				@include bold;
			}
			ul, ol {
				margin-top: 3*$leading;
				@include t4;
				@include light;
				@include h-align-center;
				@include versalete;
				li {
					width: auto;
				}
			}
			&.open {
				opacity: 1;
				z-index: 4;
				-webkit-transition: opacity .1s linear .1s, z-index 0s linear;
				-moz-transition: opacity .1s linear .1s, z-index 0s linear;
				-o-transition: opacity .1s linear .1s, z-index 0s linear;
				transition: opacity .1s linear .1s, z-index 0s linear;
			}
		}
	}
}

@media screen and (min-width: nth($breakpoints, 2)) {
	header {
		height: auto;
		nav {
			.logo {
				line-height: 0;
				margin-top: $logo-d-margin;
				margin-bottom: $logo-d-margin;
				top: 0;
				svg {
					overflow: visible;
					height: auto;
					width: auto;
					path {
						stroke-width: 2.5;
					}
				}
			}
			#menu-desktop {
				display: flex;
				flex-wrap: nowrap;
				margin-top: 21px;
				margin-bottom: 21px;
				li {	
					font-family: 'Alegreya Sans SC';
					font-weight: 300;
					font-size: 1rem;
					text-transform: lowercase;
					margin-left: $gutter;
					margin-right: 0;
					&:first-child {
						margin-left: 0;
					}
				}
				.current-page {
					@include bold;
				}
				.link {
					&:hover {
						color: $laranja;
					}				
				}
			}
		}
	}
	#menu-mobile-bg {
		display: none;
	}
	#menu-mobile {
		display: none;
	}
	#nav-icon {
		display: none;
	}
}