$breakpoints: 580px, 900px, 901px;

// ritmo vertical
$leading: 1.5rem;
$base-font-size: 1rem;

// ritmo horizontal
$col: 2, 6, 6, 12; // número de colunas em cada faixa de resolução
$gutter: $leading; // entrecoluna
$area: 83.333%; // vai se tornar uma lista, com os diferentes valores da área útil para cada resolução
$respiro: (100% - $area)/2;
$max-area: 1240px;
$min-column: 7.5rem; // largura mínima da coluna (para o base-font-size especificado)
$max-column: 640px;
$left-side: 0, 2, 2, 2;
$right-side: 0, 0, 0, 2;
$aside-side: left;

$column: 100%/nth($col, 4);
$l-blank: 2;
$r-blank: 2;
$l-side: 2;
$r-side: 0;
$main-column: nth($col, 4) - $l-blank - $r-blank - $l-side - $r-side;