@import
	"variaveis-responsividade",
	"mixins-tipografia",
	"mixins-diagrama"
;

main {
	padding-bottom: $footer-height;
	padding-top: 2*$leading;;
	width: 100%;

	img, p, ul, .video {
		margin-bottom: 2 * $leading;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 2 * $leading;
	}

	h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, p + p, h3 + p {
		margin-top: - $leading;
	}

	section {
		position: relative;
		flex-wrap: wrap;
		width: 100%;
		padding-left: calc(#{(100% - $area)/2} - #{$gutter/2});
		padding-right: calc(#{(100% - $area)/2} - #{$gutter/2});
		@include h-distribute-left;
	}

	section > section {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	section > article {
		margin-left: $gutter/2;
		margin-right: $gutter/2;
	}
	section {
		&>* {
			width: calc(100% - #{$gutter});
			z-index: 1;
		}
	}
	
	article {
		flex-wrap: wrap;
		position: relative;
		width: 100%;
		@include h-distribute-left;
		.thumb-link:hover {
			.expo-thumb-titulo {
				color: orange;
			}
		}
	}
		.thumb {
			padding-bottom: 100%;
			margin-top: 0;
		}
		.expo-thumb-titulo {
			position: relative;
			font-family: "Alegreya Sans SC";
			text-transform: lowercase;
			@include thin;
			text-align: left;
			line-height: 1.5*$leading;
			padding-right: 2*$gutter;
		}

		.projeto-thumb:hover {
			.exhibition-thumb {
				&::after {
				    background-color: orange;
					mix-blend-mode: soft-light;
				}
			}
			.titulo-thumbnail {
				color: orange;
			}
		}

		.projeto-thumb:active {
			.exhibition-thumb {
				&::after {
				    background-color: orange;
					mix-blend-mode: overlay;
				}
			}
		}

		.exhibition-thumb {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			&::after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
			.expo-thumb-titulo {
				border-left: solid transparent 1px;
				-webkit-transition: border 0.1s linear, color 0.1s linear;
				-moz-transition: border 0.1s linear, color 0.1s linear;
				-o-transition: border 0.1s linear, color 0.1s linear;
				transition: border 0.1s linear, color 0.1s linear;
			}
		}
		.thumb-exhibition {
			padding-bottom: 100%;
			margin-top: 0;
		}
		.thumb-exhibition-content {
			
		}
		.thumb-half {
			padding-bottom: 50%;
			margin-top: 0;
		}

		.thumb-content {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			padding: $leading/2;
			margin-bottom: 0;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: transparent;
			background-blend-mode: screen;
			background-size: 80%;
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
				h5 {
					opacity: 1;
				}
			}
			span {
				background-color: rgba(255, 255, 255, 0.9);
			}
		}
}