@import 
	"variaveis-responsividade",
	"variaveis-cor"
;

main {
	@media screen and (max-width: nth($breakpoints, 2) - 1px) {
		>*:first-child {
			margin-top: $logo-m-height + 2*$logo-m-margin;
		}
	}
	@media screen and (min-width: nth($breakpoints, 2)) {
		>*:first-child {
			margin-top: $logo-d-height + 2*$logo-d-margin;
		}
	}
	@media screen and (max-width: nth($breakpoints, 3) - 1px) {
		padding-top: 2*$leading + $footer-height;	
	}
	@media screen and (min-width: nth($breakpoints, 3)) {
		padding-top: 3*$leading + $footer-height;
	}

	figure, img, p, ul, ol, form, blockquote, address, .video {
		margin-bottom: 2 * $leading;
	}

	p {
		&:last-of-type {
			margin-bottom: $leading;
			@media screen and (min-width: nth($breakpoints, 1)) {
				margin-bottom: 2*$leading;
			}
			@media screen and (min-width: nth($breakpoints, 2)) {
				margin-bottom: 4*$leading;
			}
		}
	}

	section + p {
		@media screen and (min-width: nth($breakpoints, 3)) {
			margin-top: -$leading;
		}
	}

	figure > *, figure > .video, blockquote > p  {
		margin-bottom: 0;
	}

	p + form, p + p, h2 + p, h3 + p, p + ul, p + ol, ul + ol, ol + ul, * + hr {
		margin-top: - $leading;
	}

	p, q, blockquote, address {
		height: 100%;
	}
}
