@import "variaveis-responsividade";

$gutter: $leading;

$grid_variety: length($col);

@mixin col-loop {
	@for $i from 0 through nth($col, $a) {
		.s#{$a}_#{$i} {
			$width: percentage($i / nth($col, $a));
			@if $width == 0% {
				display: none;
			}
			@else {
				width: calc(#{$width} - #{$gutter});
				margin-left: $gutter / 2;
				margin-right: $gutter / 2;
				display: block;
			}
		}
		.j#{$a}_#{$i} {
			$width: percentage($i / nth($col, $a));
			@if $width == 0% {
				display: none;
			}
			@else {
				width: $width;
				margin: 0;
				display: block;
			}
		}
	}
}

$a: 1;
@media screen and (max-width: nth($breakpoints, 1) - 1px) {
	@include col-loop;
}
@if $grid_variety > 2 {
	@for $j from 2 through ($grid_variety - 1) {
		$a: $j;
		@media screen and (min-width: nth($breakpoints, ($a - 1))) {
			@include col-loop;
		}
	}
}
@if $grid_variety > 1 {
	$a: $grid_variety;
	@media screen and (min-width: nth($breakpoints, ($grid_variety - 1))) {
		@include col-loop;
	}
}