@import 
	"variaveis-responsividade",
	"variaveis-cor"
;

html, body, header, main, footer, section, nav, address, div, article, figure, figcaption, img, hr, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, a, span, b, u, i, textarea, input
{
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-transition: margin .25s ease, padding .25s ease;
	-moz-transition: margin .25s ease, padding .25s ease;
	-o-transition: margin .25s ease, padding .25s ease;
	transition: margin .25s ease, padding .25s ease;
	&:visited {
		color: $cinza-escuro;
	}
	&:link {
		color: $cinza-escuro;
	}
}

img {
	-webkit-transition: margin .25s ease;
	-moz-transition: margin .25s ease;
	-o-transition: margin .25s ease;
	transition: margin .25s ease;
	display: block;
}

button {
	border: none;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
a[href^="mailto:"] {
	color: $cinza-escuro;
}

article {
	line-height:0;
}