html, body, header, main, footer, section, nav, div, article, figure, figcaption, img, ol, ul, li, h1, h2, h3, h4, h5, h6, p, a, span, b, u, i
{
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-transition: margin .25s ease, padding .25s ease;
	-moz-transition: margin .25s ease, padding .25s ease;
	-o-transition: margin .25s ease, padding .25s ease;
	transition: margin .25s ease, padding .25s ease;
	&:visited {
		color: #4a4a4a;
	}
	&:link {
		color: #4a4a4a;
	}
}
a[href^="mailto:"] {
	color: #4a4a4a;
}

article {
	line-height:0;
}