$branco: rgba(255, 255, 255, 1);
$cinza-claro: rgba(216, 216, 216, 1);
$cinza-medio: rgba(155, 155, 155, 1);
$cinza-escuro: rgba(74, 74, 74, 1);
$preto: rgba(0, 0, 0, 1);
$laranja: rgba(255, 165, 0, 1);