@media screen and (min-width: 580px) {
  main section:first-child {
    padding-top: 8.25rem; }
    main section:first-child .left-side {
      top: 6.75rem;
      padding-top: 2.25rem; } }
main section .left-side p {
  text-align: left; }
main .wufoo {
  font-family: "Greta Sans"; }
