@import "responsive-variables";

footer {
	width: 100%;
	padding-left: calc(#{(100% - $area)/2} - #{$gutter/2});
	padding-right: calc(#{(100% - $area)/2} - #{$gutter/2});
	position: absolute;
	bottom: 0;
	//revisar
	background-color: #4a4a4a;
	//
	section {
		flex-wrap: wrap;
		width: 100%;
		@include h-distribute-center;
	}
	.footnote {
		//revisar
		margin-top: 2 * $leading;
		margin-bottom: 2 * $leading;
		//
		//revisar (criar estilo e colocar em typography.sass?)
		color: white;
		//
	}
}