@import "responsive-variables";

header {
	position: fixed;
	flex-wrap: wrap;
	top: 0;
	width: 100%;
	padding-left: calc(#{(100% - $area)/2} - #{$gutter/2});
	padding-right: calc(#{(100% - $area)/2} - #{$gutter/2});
	//revisar
	background-color: #f2f2f2;
	z-index: 3;
	transition: background-color 0.2s ease;

	nav {
		@include v-align-center;
		@include h-distribute-justify;
		>* {
			margin-left: $gutter / 2;
			margin-right: $gutter / 2;
			margin-top: $leading;
			margin-bottom: $leading;
		}
		.logo {
			-webkit-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 0.5s;
			transition-duration: 0.5s;
			//revisar
			height: 2 * $leading;
			width: 3.2 * $leading;
		}
		.menu {
			box-sizing: border-box;
			background-color: transparent;
			display: flex;
			flex-wrap: nowrap;
			a {	
				//revisar
				font-family: 'Alegreya Sans';
				font-weight: 300;
				color: #4a4a4a;
				//
				margin-left: $gutter;
				&:first-child {
					margin-left: 0;
				}
			}
			.current-page {
				@include bold;
			}
			.link {
				&:hover {
					color: orange;
				}				
			}
		}
	}
}